<div class="main__container">
  <div class="main__content">
    <div class="content__header">
      <h2>GROUPS</h2>
      <div class="btns__container">
        <app-button
          [disabled]="
            !countdownService.isCountdownEnded('groups')
          "
          (buttonClick)="groupsService.updateGroupsList()"
        >
          {{ 'Update List' | uppercase }}
        </app-button>
        <app-button
          customClass="create__btn"
          title="Create group"
          [disabled]="(isGroupsLoading$ | async) || (groupsData$ | async) === null"
          (buttonClick)="groupsService.onCreateGroup(createForm)"
        >
          <mat-icon>add</mat-icon>
        </app-button>
      </div>
      <app-countdown-message [identifier]="'groups'"></app-countdown-message>
    </div>
    <app-elements-list [groups]="(groupsData$ | async)?.items" [isGroupLoading]="isGroupsLoading$ | async" [isGroupComponent]="true"></app-elements-list>
  </div>
  <div class="main__content">
    <div class="content__header">
      <h2>PEOPLE</h2>
      <div class="btns__container">
        <app-button
          [disabled]="
            !countdownService.isCountdownEnded('users')
          "
          (buttonClick)="usersService.updateUsersList()"
        >
          {{ 'Update List' | uppercase }}
        </app-button>
      </div>
      <app-countdown-message [identifier]="'users'"></app-countdown-message>
    </div>
    <app-elements-list [groups]="(usersData$ | async)?.items" [isGroupLoading]="isUsersLoading$ | async"></app-elements-list>
  </div>
</div>
<ng-template #createForm>
  <div class="create-form">
    <form
      [formGroup]="groupsService.groupCreateForm"
      (ngSubmit)="groupsService.onCreateFormSubmit()"
    >
      <app-form-control
        label="{{ 'name:' | uppercase }}"
        controlName="name"
        [control]="groupsService.groupCreateForm.get('name')"
        type="text"
        [readonly]="false"
      ></app-form-control>
      <app-button
        type="submit"
        [disabled]="(isGroupsLoading$ | async) || groupsService.groupCreateForm.invalid"
      >
        {{ 'Create Group' | uppercase }}
      </app-button>
    </form>
    <app-button
      customClass="close-dialog__btn"
      title="Close"
      (buttonClick)="dialogService.onDialogClose()"
    >
      ✕
    </app-button>
  </div>
</ng-template>
