<div class="video-card">
  <img
    [src]="video.snippet.thumbnails.medium.url"
    alt="{{ video.snippet.title }}"
    class="video-thumbnail"
    [style.width.px]="video.snippet.thumbnails.medium.width"
    [style.height.px]="video.snippet.thumbnails.medium.height"
  >
  <div class="video-info">
    <div class="icons-video">
      <div class="icon-block">
        <img src="assets/eyeIcon.png" alt="">
        <div class="">{{ video.statistics.viewCount }}</div>
      </div>
      <div class="icon-block">
        <img src="assets/likesIcon.png" alt="">
        <div class="">{{ video.statistics.likeCount }}</div>
      </div>
      <div class="icon-block">
        <img src="assets/dislikesIcon.png" alt="">
        <div class="">{{ video.statistics.dislikeCount }}</div>
      </div>
      <div class="icon-block">
        <img src="assets/commentIcon.png" alt="">
        <div class="">{{ video.statistics.commentCount }}</div>
      </div>
    </div>
    <h3 class="video-title">{{ video.snippet.title }}</h3>
    <app-button [name]="videoBtnName" [className]="videoButtonClassName"></app-button>
  </div>
</div>
