<div class="video-card">
  <img
      [src]="video.snippet.thumbnails.medium.url"
      alt="{{ video.snippet.title }}"
      [style.width.px]="video.snippet.thumbnails.medium.width"
      [style.height.px]="video.snippet.thumbnails.medium.height"
    >
    <div class="video-info">
      <app-video-statics [video]="video"></app-video-statics>
      <h3 class="video-title">{{ video.snippet.title }}</h3>
      <a routerLink="/detail/{{video.id}}">
        <app-button [name]="videoBtnName" [className]="videoButtonClassName"></app-button>
      </a>
      <div class="bottom-line" [appDateColor]="video.snippet.publishedAt"></div>
    </div>
</div>