<div class="wrapper">
  <aside class="sidebar">
    <h1>Connections</h1>
    <nav class="navigation">
      <a
        class="navigation__item"
        [routerLink]="['']"
        routerLinkActive="active-route"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon>home</mat-icon>
        <div>{{ 'Home' | uppercase }}</div>
      </a>
      <a
        class="navigation__item"
        [routerLink]="['profile']"
        routerLinkActive="active-route"
      >
        <mat-icon>account_circle</mat-icon>
        <div>{{ 'Profile' | uppercase }}</div>
      </a>
    </nav>
  </aside>
  <section class="main-content">
    <router-outlet></router-outlet>
  </section>
</div>
