<section class="group-dialog">
  <div class="group-dialog__header">
    <div class="content">
      <div class="header__title">
        <a routerLink="/" class="header__control" title="Go to main page">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </a>
        <h2>
          {{
            'Group ' + '"' + ((groupDialogData$ | async)?.name?.S || '') + '"'
              | uppercase
          }}
        </h2>
      </div>
      <div class="header__controls">
        <button
          (click)="
            groupPageService.updateGroupDialog(groupID, groupDialogData$)
          "
          class="group__btn"
          [disabled]="
            !countdownService.isCountdownEnded('groupDailog' + groupID) ||
            (isGroupDialogLoading$ | async)
          "
        >
          {{ 'Update messages' | uppercase }}
        </button>
        <button
          *ngIf="isGroupCreatedByCurrnetUser$ | async"
          (click)="groupsService.onDeleteGroup($event, groupID, true)"
          class="header__control header__control-delete"
          [disabled]="isGroupDialogLoading$ | async"
          title="Delete group"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    <app-countdown-message [identifier]="'groupDailog' + groupID"></app-countdown-message>

  </div>
  <app-loader [isLoading]="isGroupDialogLoading$ | async"></app-loader>
  <div class="group-dialog__main">
    <app-messages-list
      [messages]="(groupDialogData$ | async)?.messages"
    ></app-messages-list>
    <app-post-message-form
      [formGroup]="messagesService.createMessageForm"
      [isLoading$]="isGroupDialogLoading$"
      (sendMessage)="
        messagesService.sendMessageForGroup(groupID, groupDialogData$)
      "
    >
    </app-post-message-form>
  </div>
</section>
