@import 'vars';

.group-dialog {
  padding: 10px;
  max-width: 800px;
  margin: 0 auto;

  .group-dialog__header {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid $accent-color;
    color: $accent-color;

    .content {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .header__title,
  .header__controls {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .header__control {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $accent-color;

    &:hover {
      background-color: $hover-color;
    }

    &:disabled {
      color: white;
    }
  }

  .group-dialog__main {
    margin-top: 20px;
    border: 1px solid $accent-color;
    border-radius: 8px;
    position: relative;
    min-height: 400px;
  }
}
