<header>
  <div class="header">
    <app-search-input class="header__search" (showFilters)="toggleShowFiltersBtn()"></app-search-input>
    <div class="header__user">
      <div class="user__name">Your Name</div>
      <app-button [customClass]="'img__btn'">
        <ng-template #buttonTemplate>
          <img src="assets/userIcon.png" alt="youTubeIcon" class="btn__icon">
        </ng-template>
      </app-button>
    </div>
  </div>
  <app-filters *ngIf="isSortingBlockVisible"></app-filters>
</header>



