@import 'vars';
@import './assets/scss/dialog.scss';
@import './assets/scss/material.scss';

@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  background-color: $background-color;
  font-size: 14px;
  margin: 0;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

body,
a {
  color: $primary-text-color;
  font-family: $main-font;
}

button:disabled {
  background-color: $disabled-solor !important;
}

button:not([disabled]):hover {
  background-color: #ee90b0 !important;
}

a {
  text-decoration: none;
}

button,
a {
  transition: 0.1s all ease-in;
  cursor: pointer;
  box-sizing: border-box;
}

main {
  flex: 1;
}

input {
  border: none;
}

ul,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}