$background-color: rgba(37, 41, 56, 1);
$primary-color: rgba(68, 68, 68, 1);
$primaty-color-light: rgba(68, 75, 101, 1);
$accent-color: rgba(210, 112, 145, 1);
$accent-color-light: rgba(251, 209, 214, 1);
$accent-color-active: #CB5980;
$primary-text-color: rgba(255, 255, 255, 1);
$secondary-text-color: rgba(117, 117, 117, 1);
$controls-text-color: #bdc4cd;
$modal-background-color: #2c3141;
$error-color: rgb(214, 0, 0);
$success-color: rgb(1, 114, 1);
$disabled-solor: #bdc4cd;
$hover-color: #fffefe26;

$main-font: 'Inter', sans-serif;
