<div class="container">
  <h2>Login</h2>
  <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <app-form-control label="Login" controlName="login" [control]="loginForm.get('login')" [isRequired]="true"></app-form-control>
    <app-form-control label="Password" controlName="password" [control]="loginForm.get('password')" [isRequired]="true" type="password"></app-form-control>
    <div class="button-container">
      <app-button [customClass]="'item__button'" [type]="'submit'" [disabled]="loginForm.invalid" [buttonTemplate]="loginBtnTemplate">
        <ng-template #loginBtnTemplate>Login</ng-template>
      </app-button>
    </div>
  </form>
</div>
