<div class="messages">
  <div
    *ngFor="let message of messages?.items | sortBy: messagesService.messageDateComparator"
    class="message"
    [class.currentUser]="messagesService.isMessageCreatedByCurrentUser(message.authorID)"
  >
    <div class="message__creator">
      {{ message.authorID | userNameTransform: (usersData$ | async) }}
    </div>
    <div class="message__text">{{ message.message }}</div>
    <div class="message__date">
      {{ message.createdAt | date: 'short' }}
    </div>
  </div>
</div>
