@import 'vars';
.messages {
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  max-height: 370px;
  height: 100%;
  overflow: auto;
  margin-bottom: 100px;
}

.message {
  display: block;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  max-width: 50%;
  background-color: $primaty-color-light;
  align-self: flex-start;
}

.message__text {
  word-wrap: break-word;
}

.messages::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: $primaty-color-light;
}
.messages::-webkit-scrollbar-thumb {
  background-color: $accent-color;
  border-radius: 10px;
}

.message__creator {
  align-self: flex-end;
}

.message__date {
  font-size: 12px;
  color: rgb(199, 199, 199);
  align-self: flex-end;
}

.currentUser {
  background-color: $accent-color;
  align-self: flex-end !important;
}