@import 'vars';
.auth {
  margin: 100px 0 0 0;

  h2 {
    margin-bottom: 20px;
  }
}

.auth__form {
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid $primaty-color-light;
  padding: 30px;
  border-radius: 8px;
}

.btn__container {
  display: flex;
  justify-content: flex-end;
}

.auth__btn {
  margin-top: 10px;
  background-color: $accent-color;
  color: $primary-text-color;
  padding: 8px;
  border: none;
  border-radius: 8px;
  max-width: 100px;
  width: 100%;

  &:disabled {
    background-color: $disabled-solor;
  }
}