@import 'vars';

h1 {
  text-align: center;
  margin-top: 80px;
  color: $accent-color;
}

.auth {
  max-width: 500px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  h2 {
    margin-bottom: 20px;
  }
}

.auth__form {
  border: 1px solid $primaty-color-light;
  padding: 30px;
  border-radius: 8px;
}
