<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="modal {{ size }}">
  <div class="modal-header">
    {{ title }}
    <button class="modal-close" (click)="close()">✕</button>
  </div>
  <div class="modal-content">
    <ng-content></ng-content>
  </div>
  <!-- <div class="modal-footer">
    <button (click)="submit()">Submit</button>
  </div> -->
</div>

<div class="modal-backdrop" (click)="close()"></div>