<section class="sort-section top-container">
  <div class="sort__container">
    <div>Sorting by:</div>
    <button class="sort__btn" (click)="sortResults('date', true)"  [class.active]="isClassActive('date', true)">Date Asc</button>
    <button class="sort__btn" (click)="sortResults('date', false)" [class.active]="isClassActive('date', false)">Date Desc</button>
    <button class="sort__btn" (click)="sortResults('views', true)" [class.active]="isClassActive('views', true)">View Asc</button>
    <button class="sort__btn" (click)="sortResults('views', false)"[class.active]="isClassActive('views', false)">View Desc</button>
    <div class="sort__input">
      <div class="">by word or sentance</div>
      <input type="text" [(ngModel)]="searchText" name="searchText" id="searchText" (input)="updateSearchText()">
    </div>
  </div>
</section>
