<div class="content__header">
  <h2>GROUPS</h2>
  <div class="div" *ngIf="!countdownService.isCountdownEnded('groups')">{{ 'Please wait ' + countdownService.getCountdownValue('groups') + ' seconds, until update button will become enabled'}}</div>
  <div class="btns__container">
    <button class="control__btn" [disabled]="!countdownService.isCountdownEnded('groups') || (isGroupsLoading$ | async) || (groupsData$ | async)=== null" (click)="updateGroupsList()">{{'Update List' | uppercase}}</button>
    <button class="control__btn create__btn" title="Create group" (click)="groupsService.onCreateGroup(createForm)" [disabled]="(isGroupsLoading$ | async) || (groupsData$ | async)=== null"><mat-icon>add</mat-icon></button>
  </div>
</div>
<mat-progress-spinner
    class="loader"
    mode="indeterminate"
    *ngIf="isGroupsLoading$ | async"
    diameter="60"
></mat-progress-spinner>
<div class="content__items">
  <div *ngFor="let group of (groupsData$ | async)?.items" class="group-item" [class.groupCurrent]="authService.currentUserID === group.createdBy.S">
    <a routerLink="/group/{{ group.id.S }}" class="group__link">
      <div class="group-property">{{ group.name.S }}</div>
    </a>
    <button class="delete__btn" *ngIf="authService.currentUserID === group.createdBy.S" (click)="groupsService.onDeleteGroup($event, group.id.S)">✕</button>
  </div>
</div>

<ng-template #createForm>
  <div class="create-form">
    <form [formGroup]="groupsService.groupCreateForm" (ngSubmit)="onCreateFormSubmit()">
      <app-form-control
          label="{{ 'name:' | uppercase }}"
          controlName="name"
          [control]="groupsService.groupCreateForm.get('name')"
          [control]="groupsService.groupCreateForm.get('name')"
          type="text"
          [readonly]="false"
        ></app-form-control>
      <button
        [disabled]="(isGroupsLoading$ | async) || groupsService.groupCreateForm.invalid"
      >
      {{ 'Create Group' | uppercase }}
      </button>
    </form>
    <button (click)="dialogService.onDialogClose()" class="close__btn">✕</button>
  </div>
</ng-template>