@import 'vars';

.content__items {
  max-height: 410px;
  height: 100%;
  overflow: auto;
  contain: strict;
  padding-right: 10px;
}

.content__items::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: $primaty-color-light;
}

.content__items::-webkit-scrollbar-thumb {
  background-color: $accent-color;
  border-radius: 10px;
}

