@import 'vars';

h2 {
  color: $accent-color;
}

.content__header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: column;
  margin-bottom: 20px;
}

.btns__container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.control__btn {
  background-color: $accent-color;
  color: $primary-text-color;
  padding: 8px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  letter-spacing: 2px;
  &:disabled {
    background-color: $disabled-solor;
  }
}

.content__items {
  height: 80%;
  overflow: auto;
  contain: strict;
}

.loader {
  margin: 0 auto;
}

.group-item {
  display: block;
  border-bottom: 1px solid $accent-color;
  padding: 10px;
}
