<div class="content__header">
  <h2>PEOPLE</h2>
  <div class="btns__container">
    <app-button
      [disabled]="
        !countdownService.isCountdownEnded('users') ||
        (isUsersLoading$ | async) ||
        (usersData$ | async) === null
      "
      (buttonClick)="usersService.updateUsersList()"
    >
      {{ 'Update List' | uppercase }}
    </app-button>
  </div>
  <app-countdown-message [identifier]="'users'"></app-countdown-message>
</div>
<app-loader [isLoading]="isUsersLoading$ | async"></app-loader>
<div class="content__items">
  <div
    *ngFor="let user of (usersData$ | async)?.items"
    class="group-item"
    (click)="usersService.toConversationPage(user.conversatonID, user.uid.S)"
    [class.groupCurrent]="usersService.isConversationID(user)"
  >
    <div class="group__link">
      <div class="group-property">
        {{ user.name.S }}
        <span *ngIf="usersService.isConversationID(user)"> *****</span>
      </div>
    </div>
  </div>
</div>
