<div class="content__header">
  <h2>PEOPLE</h2>
  <div class="btns__container">
    <app-button
      [disabled]="
        !countdownService.isCountdownEnded('users')
      "
      (buttonClick)="usersService.updateUsersList()"
    >
      {{ 'Update List' | uppercase }}
    </app-button>
  </div>
  <app-countdown-message [identifier]="'users'"></app-countdown-message>
</div>
<app-loader [isLoading]="isUsersLoading$ | async"></app-loader>
<div class="content__items">
  <ng-container  *ngFor="let user of (usersData$ | async)?.items">
    <app-user-item [user]="user"></app-user-item>
  </ng-container>
</div>
