<!-- <div class="icons-video">
  <div class="icon-block">
    <img src="assets/eyeIcon.png" alt="" />
    <div class="">{{ video.statistics.viewCount }}</div>
  </div>
  <div class="icon-block">
    <img src="assets/likesIcon.png" alt="" />
    <div class="">{{ video.statistics.likeCount }}</div>
  </div>
  <div class="icon-block">
    <img src="assets/dislikesIcon.png" alt="" />
    <div class="">{{ video.statistics.dislikeCount }}</div>
  </div>
  <div class="icon-block">
    <img src="assets/commentIcon.png" alt="" />
    <div class="">{{ video.statistics.commentCount }}</div>
  </div>
</div> -->
