<form [formGroup]="userService.userProfileForm" class="user__form">
  <app-form-control
    className="form-profile"
    label="{{ 'name:' | uppercase }}"
    controlName="name"
    [control]="userService.userProfileForm.get('name')"
    type="text"
    [readonly]="(isEditMode$ | async) === false"
  ></app-form-control>
  <app-form-control
    className="form-profile"
    label="{{ 'email:' | uppercase }}"
    controlName="name"
    [control]="userService.userProfileForm.get('email')"
    type="email"
    [readonly]="true"
  ></app-form-control>
  <app-form-control
    className="form-profile"
    label="{{ 'User ID:' | uppercase }}"
    controlName="uid"
    [control]="userService.userProfileForm.get('uid')"
    type="text"
    [readonly]="true"
  ></app-form-control>
  <app-form-control
    className="form-profile"
    label="{{ 'Created At:' | uppercase }}"
    controlName="createdAt"
    [control]="userService.userProfileForm.get('createdAt')"
    type="text"
    [readonly]="true"
  ></app-form-control>
  <div class="button-container">
    <button
      *ngIf="(isEditMode$ | async) === false"
      [disabled]="
        (isUserLoading$ | async) || (userProfileData$ | async) === null
      "
      (click)="userService.enterEditMode()"
    >
      {{ 'Edit' | uppercase }}
    </button>
    <button
      *ngIf="isEditMode$ | async"
      [disabled]="isUserLoading$ | async"
      (click)="userService.cancelEdit()"
    >
      {{ 'Cancel' | uppercase }}
    </button>
    <button
      *ngIf="isEditMode$ | async"
      [disabled]="
        (isUserLoading$ | async) || userService.userProfileForm.invalid
      "
      (click)="userService.saveChanges()"
    >
      {{ 'Save' | uppercase }}
    </button>
  </div>
</form>
