@import 'vars';

.content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}

.exit__btn {
  padding: 4px 6px;
  display: flex;
  align-items: center;
  background-color: $accent-color;
  color: $primary-text-color;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  letter-spacing: 2px;
  &:disabled {
    background-color: $disabled-solor;
  }
}

.user {
  min-width: 500px;
  height: 50%;
  background-color: $primaty-color-light;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  h2 {
    color: $accent-color;
  }
}

.user__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header__title {
  display: flex;
  align-items: center;
  gap: 10px;
  color: $accent-color;
}

.icon {
  display: block !important;
}
