<div class="content">
  <app-loader [isLoading]="isUserLoading$ | async"></app-loader>
  <div class="container user">
    <div class="user__header">
      <div class="header__title">
        <mat-icon class="icon">account_circle</mat-icon>
        <h2>{{ userService.userProfileForm.get('name')?.getRawValue() }}</h2>
      </div>
      <app-button
        customClass="exit__btn"
        title="Logout"
        [disabled]="!!(isUserLoading$ | async)"
        (buttonClick)="userService.logout()"
      >
        <mat-icon>exit_to_app</mat-icon>
      </app-button>
    </div>
    <app-user-form></app-user-form>
  </div>
</div>
