@import 'vars';

.content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}

.user {
  max-width: 600px;
  width: 100%;
  background-color: $primaty-color-light;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;

  h2 {
    margin-bottom: 20px;
    color: $accent-color;
  }

  .user__form {
    max-width: 300px;
    width: 100%;
    align-self: center;
    margin-bottom: 20px;

    input {
      width: 100%;
    }
  }
}

.button-container {
  margin-top: 10px;
  display: flex;
  column-gap: 20px;
  justify-content: flex-end;

  button {
    background-color: $accent-color;
    color: $primary-text-color;
    padding: 8px;
    border: none;
    border-radius: 8px;
    max-width: 100px;
    width: 100%;
    font-weight: bold;
    letter-spacing: 2px;
    &:disabled {
      background-color: $disabled-solor;
    }
  }
}
