<div class="content">
  <mat-progress-spinner
    mode="indeterminate"
    *ngIf="isUserLoading$ | async"
    diameter="60"
  ></mat-progress-spinner>
  <div class="container user">
    <div class="user__header">
      <div class="header__title">
        <mat-icon class="icon">account_circle</mat-icon>
        <h2>{{ userService.userProfileForm.get('name')?.getRawValue() }}</h2>
      </div>
      <button
        (click)="userService.logout()"
        [disabled]="isUserLoading$ | async"
        class="exit__btn"
        title="Logout"
      >
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </div>
    <app-user-form></app-user-form>
  </div>
</div>
