<div class="create__message">
  <form [formGroup]="formGroup" class="message__form">
    <div class="message__input">
      <app-form-control
        className="message-form"
        label="{{ '' | uppercase }}"
        controlName="text"
        [control]="formGroup.get('text')"
        type="text"
        [readonly]="false"
      ></app-form-control>
    </div>
    <button
      (click)="onSendMessage()"
      class="group__btn"
      [disabled]="(isLoading$ | async) || formGroup.invalid"
    >
      {{ 'send' | uppercase }}
    </button>
  </form>
</div>
