@import 'vars';
.btn__container {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;

  button {
    margin-bottom: 10px;
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

.error {
  color: $error-color;
  margin-top: 10px;
}
