<h1>Connections</h1>
<section class="container auth">
  <div class="auth__form">
    <h2>Sign up</h2>
    <form
      class="form"
      [formGroup]="signInService.loginForm"
      (ngSubmit)="onSubmit()"
    >
      <app-form-control
        label="Email"
        controlName="email"
        [control]="signInService.loginForm.get('email')"
        [isRequired]="true"
        type="email"
        [backendError]="backendError$ | async"
      ></app-form-control>
      <app-form-control
        label="Password"
        controlName="password"
        [control]="signInService.loginForm.get('password')"
        [isRequired]="true"
        type="password"
        [backendError]="backendError$ | async"
      ></app-form-control>
      <div class="error" *ngIf="backendError$ | async">
        {{ (backendError$ | async)?.message }}
      </div>
      <div class="btn__container">
        <button
          type="submit"
          class="auth__btn"
          [disabled]="
            signInService.loginForm.invalid ||
            (isSubmitting$ | async) ||
            isSubmitFormButtonDisable
          "
        >
          Sign in
        </button>
        <a routerLink="/auth/signup"> Dont have an account? Sign Up </a>
      </div>
    </form>
  </div>
</section>
