
<img src="assets/youTubeIcon.png" alt="youTubeIcon" class="header__icon">
<div class="search__block">
  <div class="search__block">
    <input
      #searchInput
      type="text"
      name="search"
      id="search"
      placeholder="What are you want to find out?"
      (input)="search(searchInput.value)"
    />
  </div>
  <app-button [customClass]="'img__btn'" (buttonClick)="toggleFiltersBtn()" [title]="'Show filters'" [buttonTemplate]="showFiltersBtnTemplate">
    <ng-template #showFiltersBtnTemplate>
      <img src="assets/searchSettingIcon.png" alt="youTubeIcon" class="btn__icon">
    </ng-template>
  </app-button>
</div>

