@import 'vars';

h2 {
  color: $accent-color;
}

.content__header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: column;
}

.btns__container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.control__btn {
  background-color: $accent-color;
  color: $primary-text-color;
  padding: 8px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  letter-spacing: 2px;
  &:disabled {
    background-color: $disabled-solor;
  }
}

.content__items {
  max-height: 400px;
  height: 100%;
  overflow: auto;
  contain: strict;
}

.loader {
  margin: 0 auto;
}

.groupCurrent {
  background-color: rgb(52,57,78);
}

.group-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $accent-color;
  height: 40px;
  align-items: center;
  padding: 0 10px;

  &:hover {
    background-color: $primaty-color-light;
  }
}

.group__link {
  flex: 1;
}