@import 'vars';

h2 {
  color: $accent-color;
}

.content__header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: column;
  margin-bottom: 20px;
}

.btns__container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.control__btn {
  background-color: $accent-color;
  color: $primary-text-color;
  padding: 8px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  letter-spacing: 2px;
  &:disabled {
    background-color: $disabled-solor;
  }
}

.content__items {
  max-height: 410px;
  height: 100%;
  overflow: auto;
  contain: strict;
  padding-right: 10px;
}

.content__items::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: $primaty-color-light;
}
.content__items::-webkit-scrollbar-thumb {
  background-color: $accent-color;
  border-radius: 10px;
}

.groupCurrent {
  background-color: rgb(52, 57, 78);
}

.group-item {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  border: 1px solid $accent-color;
  border-radius: 8px;
  margin-bottom: 10px;
  height: 40px;
  align-items: center;
  padding: 0 10px;

  &:hover {
    background-color: $primaty-color-light;
  }
}

.group__link {
  flex: 1;
}
